.headerCard {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 160px;
    background-image: linear-gradient(45deg, #2B2A22, #403E2D);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerCard h4 {
    color: white;
    padding-left: 20px;
    padding-top: 25px;
    line-break: auto;
    font-weight: 100;
    width: 50%;
    font-size: 2vw;
}

.headerCard button {
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    height: 35px;
    color: #6C6C6C;
    background-color: #FFF6BE;
    border-radius: 10px;
    border: none;
    font-size: 1.5vw;
    font-weight: 200;
}

.headerCard button:hover {
    background-color: #f8eda6;
    padding-left: 19%;
    padding-right: 19%;
    transition: 250ms;
}

.headerCard img {
    position: absolute;
    right: 10%;
    top: 12%;
    height: 150px;
    width: 150px;
}

@media (max-width: 960px) {
    .headerCard h4 {
        font-size: 15px;
        width: 50%;
    }

    .headerCard button {
        height: 30px;
        font-size: 14px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (height: 1366px) {
    .headerCard img {
        right: 10%;
        top: 6%;
    }
}

@media (height: 1024px) {
    .headerCard img {
        right: 10%;
        top: 8%;
    }
}
