.card {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 0 0 8px 8px;
    float: left;
    margin-bottom: 12px;
}

.card .top {
    position: relative;
    background: url(http://bdb.bertsozale.eus/images/grid-loading.gif) #d2d2d2;
    background-position: center center;
    background-repeat: no-repeat;
    height: 0;
    border-radius: 8px 8px 0 0;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    display: block;
}

.card .bottom {
    padding: 1rem;
    background: #FFFCE7;
    border-radius: 0 0 8px 8px;
}

.card h2 {
    font-weight: 300;
    margin-bottom: 1rem;
}

.card p {
    color: #888;
    font-weight: 300;
    line-height: 1.4;
}

.author {
    margin-top: 20px;
}

.author img {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.author label {
    position: absolute;
    margin-left: 40px;
    margin-top: -25px;
    font-size: 16px;
    color: #696859;
}