.authInputs {
    width: 95%;
    margin: 20px 2.5%;
}

.authInputs input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}

.authInputs input::placeholder {
    color: #888;
}