.navMenu {
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 50px 0 0 0; 
  -webkit-transform: translate(2%, -50%);
  transform: translate(2%, -50%);
}
  
.navMenu .item {
  color: #808080;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .itemRight {
  color: #808080;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .itemMiddle {
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  position: absolute;
  right: 50%;
  top: 60%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Libre Caslon Text', serif;
}

.navMenu .item:hover {
  color: #808080;
}